.jumbotron {
  text-align: center;
  font-size: 40px;
}
.box {
  border: solid;
  margin: 20px;
}
img{
  width: 60%;
}
.col-sm-4{
  text-align: center;
}
.turnP1{
  /*display: none;*/
}
.turnP2{
  /*display: none;*/
}
